

#header-navigation ul li.menu-category-241 a,
#header-navigation ul li.menu-category-241 .dropnav-container ul.dropnav-menu,
#header-navigation ul li.menu-category-241 .dropnav-container ul.dropnav-menu li,
#mobile-menu ul li.menu-category-241 a,
.sidr ul li.menu-category-241 a {
    border-color: #4d4d4d;
}

#header-navigation ul li.menu-category-241 .subnav-menu,
#header-navigation ul li.menu-category-241:hover .subnav-menu a,
#header-navigation ul li.menu-category-241 .dropnav-container ul li a:hover,
#mobile-menu ul li.menu-category-241 a:hover {
    background: #4d4d4d;
}

#header-navigation ul li.menu-category-241 a:hover,
#header-navigation ul li.menu-category-241:hover a,
#header-navigation ul li.menu-category-241 ul,
#header-navigation ul li.menu-category-241.current-menu-item a,
#header-navigation ul li.menu-category-241.current-menu-parent a,
#header-navigation ul li.menu-category-241.current-post-ancestor a,
#header-navigation ul li.menu-category-241 .subnav-container,
#header-navigation ul li.menu-category-241 .subnav-menu a:hover,
#header-navigation ul li.menu-category-241 .subnav-menu .current a,
#header-navigation-sub nav.cat-241,
.sidr ul li.menu-category-241 a:hover {
    color: #fff;
    background: #3e3e3e;
}

#header-navigation-sub nav.cat-241 ul li.current-cat a,
#header-navigation-sub nav.cat-241 ul li a:hover {
    color: #4d4d4d;
}

.linkbox.cat-241 a:hover .overlay {
    background: rgba(62, 62, 62, 0.8);
}

a.theme.cat-241,
article.cat-241 a.theme,
article.cat-241 a.theme i.fa,
div.head-image.cat-241 a.theme,
article a.theme.cat-241,
#page-content .section-241 header span.borderline,
.article-post.cat-241 .review .score-overall,
.article-post.cat-241 .review .progress-bar {
    background: #4d4d4d;
}

article.cat-241 .related-box a:hover,
article.cat-241 a.category,
article.cat-241 .post-pagination a:hover,
article.cat-241 .post-navigation a:hover,
.article-post.cat-241 .review ul.good li i.fa,
.section-241 header h2 a,
#archive-page.module-timeline .cat-241 a,
.sidebar aside.widget .category.cat-241 a,
.sidebar span.cat-241 a,
#sidebar-mid span.cat-241 a,
#page-footer span.cat-241 a {
    color: #4d4d4d!important;
}

#archive-page.module-timeline article i.bullet-241,
a.show-more.cat-241,
.sidebar .module-timeline article i.bullet-241,
#sidebar-mid .module-timeline article i.bullet-241 {
    background: #4d4d4d!important;
}

.post-pagination.cat-241 a:hover, .post-pagination.cat-241 .current {
    background: #4d4d4d;
    border-color: #4d4d4d;
}

#foot-menu ul li.menu-category-241 a {
    border-color: #4d4d4d;
}

#foot-menu ul li.menu-category-241 a:hover,
#foot-menu ul li.menu-category-241.current a {
    color: #3e3e3e;
}


#header-navigation ul li.menu-category-242 a,
#header-navigation ul li.menu-category-242 .dropnav-container ul.dropnav-menu,
#header-navigation ul li.menu-category-242 .dropnav-container ul.dropnav-menu li,
#mobile-menu ul li.menu-category-242 a,
.sidr ul li.menu-category-242 a {
    border-color: #4d4d4d;
}

#header-navigation ul li.menu-category-242 .subnav-menu,
#header-navigation ul li.menu-category-242:hover .subnav-menu a,
#header-navigation ul li.menu-category-242 .dropnav-container ul li a:hover,
#mobile-menu ul li.menu-category-242 a:hover {
    background: #4d4d4d;
}

#header-navigation ul li.menu-category-242 a:hover,
#header-navigation ul li.menu-category-242:hover a,
#header-navigation ul li.menu-category-242 ul,
#header-navigation ul li.menu-category-242.current-menu-item a,
#header-navigation ul li.menu-category-242.current-menu-parent a,
#header-navigation ul li.menu-category-242.current-post-ancestor a,
#header-navigation ul li.menu-category-242 .subnav-container,
#header-navigation ul li.menu-category-242 .subnav-menu a:hover,
#header-navigation ul li.menu-category-242 .subnav-menu .current a,
#header-navigation-sub nav.cat-242,
.sidr ul li.menu-category-242 a:hover {
    color: #fff;
    background: #3e3e3e;
}

#header-navigation-sub nav.cat-242 ul li.current-cat a,
#header-navigation-sub nav.cat-242 ul li a:hover {
    color: #4d4d4d;
}

.linkbox.cat-242 a:hover .overlay {
    background: rgba(62, 62, 62, 0.8);
}

a.theme.cat-242,
article.cat-242 a.theme,
article.cat-242 a.theme i.fa,
div.head-image.cat-242 a.theme,
article a.theme.cat-242,
#page-content .section-242 header span.borderline,
.article-post.cat-242 .review .score-overall,
.article-post.cat-242 .review .progress-bar {
    background: #4d4d4d;
}

article.cat-242 .related-box a:hover,
article.cat-242 a.category,
article.cat-242 .post-pagination a:hover,
article.cat-242 .post-navigation a:hover,
.article-post.cat-242 .review ul.good li i.fa,
.section-242 header h2 a,
#archive-page.module-timeline .cat-242 a,
.sidebar aside.widget .category.cat-242 a,
.sidebar span.cat-242 a,
#sidebar-mid span.cat-242 a,
#page-footer span.cat-242 a {
    color: #4d4d4d!important;
}

#archive-page.module-timeline article i.bullet-242,
a.show-more.cat-242,
.sidebar .module-timeline article i.bullet-242,
#sidebar-mid .module-timeline article i.bullet-242 {
    background: #4d4d4d!important;
}

.post-pagination.cat-242 a:hover, .post-pagination.cat-242 .current {
    background: #4d4d4d;
    border-color: #4d4d4d;
}

#foot-menu ul li.menu-category-242 a {
    border-color: #4d4d4d;
}

#foot-menu ul li.menu-category-242 a:hover,
#foot-menu ul li.menu-category-242.current a {
    color: #3e3e3e;
}


#header-navigation ul li.menu-category-240 a,
#header-navigation ul li.menu-category-240 .dropnav-container ul.dropnav-menu,
#header-navigation ul li.menu-category-240 .dropnav-container ul.dropnav-menu li,
#mobile-menu ul li.menu-category-240 a,
.sidr ul li.menu-category-240 a {
    border-color: #4d4d4d;
}

#header-navigation ul li.menu-category-240 .subnav-menu,
#header-navigation ul li.menu-category-240:hover .subnav-menu a,
#header-navigation ul li.menu-category-240 .dropnav-container ul li a:hover,
#mobile-menu ul li.menu-category-240 a:hover {
    background: #4d4d4d;
}

#header-navigation ul li.menu-category-240 a:hover,
#header-navigation ul li.menu-category-240:hover a,
#header-navigation ul li.menu-category-240 ul,
#header-navigation ul li.menu-category-240.current-menu-item a,
#header-navigation ul li.menu-category-240.current-menu-parent a,
#header-navigation ul li.menu-category-240.current-post-ancestor a,
#header-navigation ul li.menu-category-240 .subnav-container,
#header-navigation ul li.menu-category-240 .subnav-menu a:hover,
#header-navigation ul li.menu-category-240 .subnav-menu .current a,
#header-navigation-sub nav.cat-240,
.sidr ul li.menu-category-240 a:hover {
    color: #fff;
    background: #3e3e3e;
}

#header-navigation-sub nav.cat-240 ul li.current-cat a,
#header-navigation-sub nav.cat-240 ul li a:hover {
    color: #4d4d4d;
}

.linkbox.cat-240 a:hover .overlay {
    background: rgba(62, 62, 62, 0.8);
}

a.theme.cat-240,
article.cat-240 a.theme,
article.cat-240 a.theme i.fa,
div.head-image.cat-240 a.theme,
article a.theme.cat-240,
#page-content .section-240 header span.borderline,
.article-post.cat-240 .review .score-overall,
.article-post.cat-240 .review .progress-bar {
    background: #4d4d4d;
}

article.parent-cat-240 .related-box a:hover,
article.parent-cat-240 a.category,
article.parent-cat-240 .post-pagination a:hover,
article.parent-cat-240 .post-navigation a:hover,
.article-post.parent-cat-240 .review ul.good li i.fa,
#archive-page.module-timeline .parent-cat-240 a,
.sidebar aside.widget .category.parent-cat-240 a,
.sidebar span.parent-cat-240 a,
#sidebar-mid span.parent-cat-240 a,
#page-footer span.parent-cat-240 a {
    color: #4d4d4d;
}

#archive-page.module-timeline article i.parent-bullet-240,
a.show-more.parent-cat-240,
.sidebar .module-timeline article i.parent-bullet-240,
#sidebar-mid .module-timeline article i.parent-bullet-240 {
    background: #4d4d4d;
}
article.cat-240 .related-box a:hover,
article.cat-240 a.category,
article.cat-240 .post-pagination a:hover,
article.cat-240 .post-navigation a:hover,
.article-post.cat-240 .review ul.good li i.fa,
.section-240 header h2 a,
#archive-page.module-timeline .cat-240 a,
.sidebar aside.widget .category.cat-240 a,
.sidebar span.cat-240 a,
#sidebar-mid span.cat-240 a,
#page-footer span.cat-240 a {
    color: #4d4d4d!important;
}

#archive-page.module-timeline article i.bullet-240,
a.show-more.cat-240,
.sidebar .module-timeline article i.bullet-240,
#sidebar-mid .module-timeline article i.bullet-240 {
    background: #4d4d4d!important;
}

.post-pagination.cat-240 a:hover, .post-pagination.cat-240 .current {
    background: #4d4d4d;
    border-color: #4d4d4d;
}

#foot-menu ul li.menu-category-240 a {
    border-color: #4d4d4d;
}

#foot-menu ul li.menu-category-240 a:hover,
#foot-menu ul li.menu-category-240.current a {
    color: #3e3e3e;
}

#page-content header h2 { border-color: #f5f5f5 }#page-content header span.borderline { background: #222 }.sidebar header h2 { border-color: #4e4e4e }.sidebar header span.borderline { background: #fff }                                    
#breaking-news a.theme-title {
  background: #de5b47;
}




/* WooCommerce */

/* Lightbox - close button */
body.admin-bar .on #pbCloseBtn {
  top: 30px;
}
